body {
    font-family: sans-serif;
    background: #fff;
    display: inline;
  }
  
  header {
    background-color: orange;
  }
  
  footer {
    background: orange;
  }
  
  a {
    color: black;
  }
  
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: white;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: red;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidenav.active {
    left: 0;
  }
  
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
  }
  
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: red;
    margin: 6px 15px;
  }
  
  #menu-vertical, #menu-vertical ul {
    padding:0;
    margin:0;
    list-style:none;
    width: 180px;
  }
  
  #menu-vertical li {
    position: relative;
    background:orange;
    border: solid;
  }
  
  #menu-vertical ul {
    position: absolute;
    left:-999em;
  }
  
  #menu-vertical li:hover ul {
    top: 0;
    left: 180px;
  }

h1 {
    text-align: center;
    color: red;
}

.button {
    background-color: red;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }

div {
    text-align: center;
}